.pages__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.pages__row_container {
    display: -webkit-box;
    -webkit-line-clamp: 12;
    line-clamp: 12;
    -webkit-box-orient:horizontal;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pages__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    cursor: pointer;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    
}
.pages__item:disabled {
    display: flex;
    line-clamp: 12;
    justify-content: center;
    align-items: center;
    width: 2vw;
    
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px;
    background-color: white;
}
.pages__item_button_next_back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    cursor: pointer;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    background-color: white;
    font-size: 24px;
}
.pages__item_button_next_back:disabled {
    cursor:not-allowed;
}
.pages__item:hover {
    box-shadow: 0 0 5px 5px var(--primary-color-yellow);
}