@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.partPage__container_main {
    display: flex;
}
.partPage__container_brand {
    display: flex;
    flex-direction: column;
}
.partPage__container_info {
    display: flex;
    flex-direction: row;
}
.partPage__image_part_container {
    width: 300px;
    height: 400px;
    margin: 10px;
}
.partPage__image_part {
    width: 300px;
    height: 400px;
    object-fit: contain;
}
.partPage__main_info {
    width: 500px;
    height: 400px;
    margin: 10px;
}
.partPage__main_info_name {
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
}
.partPage__main_info_brand {
    border-bottom: 2px solid black;
    padding: 10px;
}
.partPage__specification_sheet_container {
    display: flex;
    width: 500px;
    height: 250px;
    margin: 10px;
}
.partPage__specification_sheet_table {
    width: 500px;
    height: 250px;

}
.partPage__specification_sheet_first_column_design {
    width: 250px;
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
}
.partPage__specification_sheet_second_column_design {
    width: 250px;
}
.partPage__availability {
    margin: 10px;
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 28px;
    color: red;
}
.partPage__price_container {
    display: flex;
    flex-wrap: nowrap;
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 28px;
    width: 500px;
    height: 100px;
    justify-content: start;
    align-items: start;
    cursor: pointer;
}
.partPage__price {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    width: 220px;
}
.partPage__price_button {
    margin-left: 100px;
}