.shop__main_container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 70vw;
    margin-top: 20px;
}
.shop__div_container_category {
    display: flex;
    justify-content: start;
    align-items: start;
}
.shop__div_container_brand_part {
    display: block;
    justify-content: start;
    align-items: start;
}