@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.city_name {
    font-family: "Montserrat-Black" ,'Courier New', Courier, monospace;
}
@media screen and (min-width: 950px) {
    .city_name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        font-weight: 600;
        width: 250px;
        font-size: 20px;
    }
}

@media screen and (min-width: 360px) and (max-device-width: 480px) {
    .city_name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        font-weight: 600;
        width: 200px;
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) and (max-width: 950px) {
    .city_name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        font-weight: 900;
        width: 150px;
        font-size: 12px;
    }
}