@font-face {
    font-family: "Montserrat-Light"; 
    src: url("./assets/fonts/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

* {
    margin: 0;
    padding: 0;
    border: 0;
    --primary-color-yellow: rgb(192, 192, 23);
}
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Light","Helvetica","Arial",sans-serif;
    width: 100%;
}

.App {
    width: 70vw;
}