@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.PartItem__container {
    margin: 5px;
    width: 200px;
    height: 550px;
    cursor: pointer;
    border-bottom: 1px #3b444b solid;
    
}
.PartItem__item {
    width: innerhit;
}
.PartItem__logo {
    width: 200px;
    height: 100px;
    border-image-width: 0;
}
.PartItem__header {
    font-family:  "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 16px;
}
.PartItem__header:hover {
    color: var(--primary-color-yellow);
}
.PartItem__price {
    font-family:  "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 20px;
}