@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.PartItem__container {
    display: flex;
    margin: 5px;
    width: 230px;
    height: 600px;
    cursor: pointer;
    border-bottom: 1px #3b444b solid;
    box-shadow:  0px 5px 5px -5px var(--primary-color-yellow);
    
}
.PartItem__item {
    width: innerhit;
}
.PartItem__logo {
    display: flex;
    width: auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-image-width: 0;
    margin: 20px;
    
}
.PartItem__name {
    display: flex;
    font-size: 20px;
    height: 170px;
    overflow: hidden;
    
}
.PartItem__name:hover {
    color: var(--primary-color-yellow);
}
.PartItem__articol {
    display: flex;
    height: 5vh;
    width: 100%;
}
.PartItem__price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:  "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 28px;
}