.header__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 70vw;
    height: auto;
    background-color: white;
    border-bottom: 2px solid gray;
    
}
.header__container_search {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 100%;
}
.header {
    position: relative;
}
