@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
  .aviabilityYes__container {
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 28px;
    color: green;
    margin-left: 20px;
}