@font-face {
    font-family: "Montserrat-Light"; 
    src: url("../../../assets/fonts/Montserrat-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.searchInput__input {
    display: flex;
    width: 65%;
    height: 0.1vh;
    border: 2px solid black;
    border-radius: 50px;
    margin: 0 0px 5px;
    padding: 15px;
    font-family:  "Montserrat-Light", 'Courier New', Courier, monospace;
    font-size: 16px;
    
}
.searchInput__input:focus {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 100;
    
}