/* body {
    overflow-x: hidden;
} */
@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.createCategory__background {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.createCategory__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30vh 30vw 0 30vw;
    width: 40vw;
    height: 45vh;
    
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    
}
.createCategory__close {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    height: 60px;
    cursor: pointer;
}
.createCategory__close img {
    margin: 3px;
    width: 60px;
    height: 60px;
}
.createCategory__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.createCategory__header_name {
    font-family: "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 28px;
    margin: 20px;
}
.createCategory__body_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.createCategory__window_footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}