a img {
    border: none;
}
.logo_img {
    width: 15vw;
    height: 10vh;
    border: white;
    background: url(../../../../../src/assets/image/logo_nav_bar.png) white no-repeat center / contain;
}
.main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100px;
    background-color: white;
}
.container_nav {
    justify-content: end;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: "PT Sans","Helvetica","Arial",sans-serif;
}