@font-face {
    font-family: "Montserrat-Black"; 
    src: url("../../../assets/fonts/Montserrat-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
.button_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-family:  "Montserrat-Black", 'Courier New', Courier, monospace;
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
}
.button_header:hover {
    color: var(--primary-color-yellow);
}